/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &five_column_transform;
    };
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    combos {
        compatible = "zmk,combos";

        ctrl_c {
            bindings = <&kp LC(C)>;
            key-positions = <26 27>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "base";
            bindings = <
&none  &kp Q  &kp W  &kp F     &kp P  &kp B          &kp J        &kp L  &kp U      &kp Y    &kp SEMI  &none
&none  &kp A  &kp R  &kp S     &kp T  &kp G          &kp M        &kp N  &kp E      &kp I    &kp O     &none
&none  &kp Z  &kp X  &kp C     &kp D  &kp V          &kp K        &kp H  &kp COMMA  &kp DOT  &kp SQT   &none
                     &kp LGUI  &mo 0  &lt 0 SPACE    &lt 0 ENTER  &mo 0  &kp RALT
            >;
        };

        num {
            display-name = "num";
            bindings = <
&none  &kp KP_MULTIPLY  &kp N7  &kp N8  &kp N9  &kp PLUS     &none  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp BACKSLASH  &kp PIPE   &none
&none  &kp N0           &kp N4  &kp N5  &kp N6  &kp MINUS    &none  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp UNDER      &kp EQUAL  &none
&none  &kp SLASH        &kp N1  &kp N2  &kp N3  &kp EQUAL    &none  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp GRAVE      &kp TILDE  &none
                                &none   &none   &none        &none  &none                 &trans
            >;
        };

        game {
            bindings = <
&none    &kp TAB           &kp Q  &kp W   &kp E  &kp R        &trans  &trans          &kp UP_ARROW  &trans     &trans     &none
&none    &kp RIGHT_SHIFT   &kp A  &kp S   &kp D  &sl 3        &trans  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT  &kp ENTER  &none
&none    &kp LEFT_CONTROL  &kp Z  &kp X   &kp C  &kp F        &trans  &trans          &trans        &trans     &trans     &none
                                  &trans  &mo 4  &kp SPACE    &trans  &trans          &trans
            >;
        };


        gameplus {
            bindings = <
&none   &kp F5        &kp NUMBER_1  &kp N2  &kp N3  &kp NUMBER_4    &trans  &trans  &trans  &trans  &trans  &none
&none   &kp LEFT_ALT  &kp SLASH     &kp K   &kp Y   &kp V           &trans  &trans  &trans  &trans  &trans  &none
&none   &kp L         &kp I         &kp T   &kp N5  &kp N6          &trans  &trans  &trans  &trans  &trans  &none
                                    &kp J   &kp G   &kp M           &trans  &trans  &trans
            >;
        };
    };
};
