/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &five_column_transform;
    };
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    combos {
        compatible = "zmk,combos";

        ctrl_c {
            bindings = <&kp LC(C)>;
            key-positions = <26 27>;
            layers = <4>;
        };

        ctrl_v {
            bindings = <&kp LC(V)>;
            key-positions = <28 27>;
            layers = <4>;
        };

        ctrl_z {
            bindings = <&kp LC(Z)>;
            key-positions = <17 16>;
            layers = <4>;
        };

        ctrl_y {
            bindings = <&kp LC(Y)>;
            key-positions = <5 4>;
            layers = <4>;
        };

        ctrl_f {
            bindings = <&kp LC(F)>;
            key-positions = <2 3>;
            layers = <4>;
        };

        ctrl_a {
            bindings = <&kp LC(A)>;
            key-positions = <13 16>;
            layers = <4>;
        };

        ctrl_x {
            bindings = <&kp X>;
            key-positions = <25 26>;
            layers = <4>;
        };

        apos {
            bindings = <&kp APOS>;
            key-positions = <7 8>;
            layers = <0>;
        };

        quote {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <9 8>;
            layers = <0>;
        };

        screen {
            bindings = <&kp LG(LS(S))>;
            key-positions = <27 26 28>;
            layers = <4>;
        };

        num_comma {
            bindings = <&kp KP_COMMA>;
            key-positions = <2 3>;
            layers = <1>;
        };

        num_dot {
            bindings = <&kp DOT>;
            key-positions = <4 3>;
            layers = <1>;
        };

        fun_left {
            bindings = <&sl 0>;
            key-positions = <16 38>;
        };

        fun_right {
            bindings = <&sl 0>;
            key-positions = <19 39>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer { // gallium 
            display-name = "base";
            bindings = <
&kp TAB       &kp B  &kp L  &kp D      &kp C  &kp V          &kp J                  &kp Y          &kp O          &kp U    &kp SEMI   &kp BACKSPACE
&kp ESC       &kp N  &kp R  &kp T      &kp S  &kp G          &kp P                  &kp H          &kp A          &kp E    &kp I      &kp ENTER
&kp LEFT_WIN  &kp X  &kp Z  &kp M      &kp W  &kp Q          &kp K                  &kp F          &kp COMMA      &kp DOT  &kp SLASH  &none
                            &kp LCTRL  &mo 4  &lt 1 SPACE    &mt RIGHT_SHIFT SPACE  &sk RIGHT_ALT  &kp RIGHT_WIN
            >;
        };

        num {
            display-name = "num";
            bindings = <
&kp LC(Z)  &kp N6     &kp N7  &kp N8           &kp N9  &kp PLUS     &none           &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp BACKSLASH  &kp PIPE   &none
&kp ENTER  &kp N1     &kp N2  &kp N3           &kp N4  &kp MINUS    &none           &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp UNDER      &kp EQUAL  &kp ENTER
&none      &kp SLASH  &kp N5  &kp KP_MULTIPLY  &kp N0  &kp EQUAL    &none           &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp GRAVE      &kp TILDE  &none
                              &none            &none   &none        &kp LEFT_SHIFT  &none                 &trans
            >;
        };

        game {
            bindings = <
&none  &kp TAB           &kp Q  &kp W  &kp E  &kp R        &none  &none        &kp UP    &none          &none      &none
&none  &kp LSHIFT        &kp A  &kp S  &kp D  &sl 3        &none  &kp LEFT     &kp DOWN  &kp RIGHT      &kp ENTER  &none
&none  &kp LEFT_CONTROL  &kp Z  &kp X  &kp C  &kp F        &none  &kp PAGE_UP  &none     &kp PAGE_DOWN  &to 0      &none
                                &none  &mo 4  &kp SPACE    &none  &none        &none
            >;
        };

        gameplus {
            bindings = <
&none  &kp F5        &kp N1     &kp N2  &kp N3  &kp N4    &none  &none  &none  &none  &none  &none
&none  &kp LEFT_ALT  &kp SLASH  &kp K   &kp Y   &kp V     &none  &none  &none  &none  &none  &none
&none  &kp L         &kp I      &kp T   &kp N5  &kp N6    &none  &none  &none  &none  &none  &none
                                &kp J   &kp G   &kp M     &none  &none  &none
            >;
        };

        nav {
            bindings = <
&none  &kp ESC           &kp DEL               &kp UP            &kp BACKSPACE  &kp LC(BACKSPACE)    &none  &kp LG(L)     &none         &none  &none  &none
&none  &kp ENTER         &kp LEFT              &kp DOWN          &kp RIGHT      &kp PG_UP            &none  &kp C_VOL_DN  &kp C_VOL_UP  &none  &none  &none
&none  &kp LEFT_CONTROL  &mt LEFT_ALT LG(TAB)  &kp C_PLAY_PAUSE  &kp TAB        &kp PAGE_DOWN        &none  &none         &none         &none  &to 2  &none
                                               &none             &none          &none                &none  &none         &none
            >;
        };
    };
};
